::-webkit-scrollbar {
  width: 12px;
}

/* ::-webkit-scrollbar-track {
  background: #333; 
} */

::-webkit-scrollbar-thumb {
  background-color: #666; 
  border-radius: 6px;
  border: 3px solid #333; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.App {
  text-align: center;
}
.layout-app{
  height: 100vh;
  background-color: rgb(0,0,0);
}
.header-app {
  position: 'sticky';
  top: 0;
  z-index: 1;
  width: '100%';
  display: 'flex';
  align-items: 'center';
  margin-bottom: 20px;
  color: white;
  font-size: 20px;
}
.content-app{
  padding: 0px 200px;
  text-align:left;
}
.content-app .display-content-chat-box {
  height: 95%;
  background: rgb(34,35,39);
  overflow-y: auto; 
  padding-top: 20px;
  padding-right: 50px;
  padding-left: 50px;
  border-radius: 24px;
}
.content-product-then-image{
  margin-left: 20px;
  font-size: 16px;
}
.row-message-user{
  margin-bottom: 20px;
}
.avatar-user-chat-box{
  margin-left: 20px;
}
.avatar-chat-box{
  margin-right: 20px;
}
.img-product-firebase{
  border-radius: 30px;
}
.chat-message {
  background-color: rgb(19,19,20); 
  border-radius: 8px; 
  padding: 20px;
  max-width: 50vw;
  word-wrap: break-word;
  color: white;
  font-size: 16px;
}
.footer-chat-box{
  background-color: rgb(0,0,0);
  text-align: center;
  padding-top: 10px;
}
.icon-search-footer{
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-search-footer .ant-avatar{
  background-color: rgb(22,119,255);
}
.text-area-seatch-chat-box{
  background-color: rgb(19,19,20);
  color: rgb(232,234,237);
  font-size: 18px;
  padding: 17px;
  height: fit-content;
}

.text-area-seatch-chat-box::placeholder {
  /* Áp dụng kiểu cho placeholder ở đây */
  color: rgb(178, 175, 175); /* Màu chữ xám nhạt */
  font-style: italic; /* In nghiêng */
  /* Thêm các kiểu khác tùy ý */
}

/* Mobile devices */
@media screen and (max-width: 576px) {
  .display-content-chat-box{
    margin-right: -160px ;
    margin-left: -160px;
  }
  .avatar-chat-box {
    margin-right: 10px;
    margin-left: -40px;
    height: 10px;
    width: 10px;
  }

  .chat-message {
    /* Adjust styles for smaller screens */
    font-size: 14px; /* Example adjustment, modify as needed */
  }
  .img-product-firebase{
    size: 1px;
  }
  .content-product-then-image{
    margin-left: 1px;
  
  }
  .text-area-seatch-chat-box{
    font-size: 15px;
    padding: 14px;
    height: fit-content;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .display-content-chat-box{
    margin-right: -160px ;
    margin-left: -160px;
  }
  .avatar-chat-box {
    height: 20px;
    width: 20px;
    margin-left: -25px;
  }
}
